@model EBookPresenter.Models.SpecificEBookViewModel

@{
    ViewData["Title"] = "EBook Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.EBook.Title</h1>

    @* Info about the book here: Size etc. *@

    
</div>